img {
  width: 11.8rem;
  border-radius: 1rem 1rem 0rem 0rem;
  margin-bottom: 0rem;
}

.container_hero {
  height: 118px;
  width: 11.8rem;
  background-color: #161414;
  color: white;
  border-radius: 0rem 0rem 1rem 1rem;
  padding: 1rem;
  margin-top: 0rem;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
}

.border_blue {
  background-color: #166bf8;
  height: 0.8rem;
}
.container_heroes {
  display: flex;
  justify-content: center;
  gap: 3rem;
  flex-wrap: wrap;
  padding-top: 8rem;
  padding-left: 8rem;
  padding-right: 8rem;
}

body {
  background-color: #e5e5e5;
}
