.whs-contactform {
	color: rgb(255, 255, 255);
    background-color: rgb(33, 33, 33);
	padding: 32px;
	display: flex;
	justify-content: flex-start;
	flex-direction: column;
	align-items: center;
	font-weight: 500;
}

.whs-contactform-elem {
	margin-bottom: 10px;
}

.whs-contactform-input {
	border-radius: 10px;
	border: solid 1px;
	background-color: white;
	color: black;
	width: 30 0px;
	height: 40px;
	margin-top: 5px;
}

.whs-contactform-submit {
	width: 100px;
	height: 40px;
	border-radius: 20px;
	margin-top: 10px;
	background-color: #166BF8;
	color: white;
}