.whs-categories {
    color: rgb(247, 242, 242);
}

.button-add {
    display: inline-block;
    padding: 15px 35px;
    margin-left: 60px;
    font-size: 18px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #166BF8;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px rgb(191, 184, 184);
  }
  
  .button-add:hover {background-color: #166BF8;}
  
  .button-add:active {
    background-color: #166BF8;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }