.whs-main-container-cards {
  display: flex;
  flex-direction: column;
}

.whs-shopping-list {
  padding-bottom: 50px;
}

.whs-list-cards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: column;
}

.whs-cards {
  list-style-type: none;
  border-radius: 20px;
  width: 215px;
  margin: 60px;
  background-color: black;
  box-shadow: 10px 5px 20px grey;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
}

.whs-cards-images {
  width: 215px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.whs-cards-names {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-family: var(--h2-font-family);
  font-weight: var(--h2-font-weight);
  text-transform: var(--h2-text-transform);
  line-height: var(--h2-line-height);
  font-size: 20px;
}

.whs-cards-prices {
  padding-left: 70px;
  margin-bottom: 10px;
  font-size: 20px;
  font-family: var(--h2-font-family);
  font-weight: 900;
}

@media screen and (min-width: 1121px) {
  .whs-shopping-list {
    display: flex;
    flex-wrap: wrap;
  }
}
