.whs-categories {
	padding-top: 30px;
	padding-left: 60px;
}

.whs-categories-select {
	width: 250px;
	margin-right: 10px;
	color: black;
	padding: 12px 16px;
}
  
.whs-categories:hover .whs-categories-select {
	background-color: #166BF8;
}
