.whs-cards {
	list-style-type: none;
    border: solid 5px #677179;
	border-radius: 10px;
	height: 320px;
	width: 250px;
	margin: 60px;
    background-color: whitesmoke;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	position: relative;
}

.whs-cards-images {
	width: 200px;
}

.btn-add {
	position: relative;
	background-color: #12abc9;
	border-radius: 5px;
	font-size: 15px;
	color: #FFFFFF;
	padding: 12px;
	width: 120px;
	text-align: center;
	transition-duration: 0.4s;
	text-decoration: none;
	overflow: hidden;
	cursor: pointer;
  }
  
  .btn-add:after {
	content: "";
	background: #faf9f9;
	display: block;
	position: absolute;
	padding-top: 300%;
	padding-left: 350%;
	margin-left: -20px !important;
	margin-top: -120%;
	opacity: 0;
	transition: all 0.8s
  }
  
  .btn-add:active:after {
	padding: 0;
	margin: 0;
	opacity: 1;
	transition: 0s
  }

  .scrolldown {
	--color: white;
	--sizeX: 30px;
	--sizeY: 50px;
	position: relative;
	width: var(--sizeX);
	height: var(--sizeY);
	margin-left: var(sizeX / 2);
	border: calc(var(--sizeX) / 10) solid var(--color);
	border-radius: 50px;
	box-sizing: border-box;
	margin-bottom: 16px;
  }
  
  .scrolldown::before {
	content: "";
	position: absolute;
	bottom: 30px;
	left: 50%;
	width: 6px;
	height: 6px;
	margin-left: -3px;
	background-color: var(--color);
	border-radius: 100%;
	animation: scrolldown-anim 2s infinite;
	box-sizing: border-box;
	box-shadow: 0px -5px 3px 1px #ffffff66;
  }
  
  @keyframes scrolldown-anim {
	0% {
	  opacity: 0;
	  height: 6px;
	}
	40% {
	  opacity: 1;
	  height: 10px;
	}
	80% {
	  transform: translate(0, 20px);
	  height: 10px;
	  opacity: 0;
	}
	100% {
	  height: 3px;
	  opacity: 0;
	}


  }
  .btn-reset {
	padding: 20px 0 0 0;
	margin-left: 12px;
	width: 30px;
	display: flex;
	flex-direction: column;
	align-items: center;
  }

  .btn-reset {
	margin-top: 6px;
	position: relative;
	border: solid var(--color);
	border-width: 0 3px 3px 0;
	display: inline-block;
	width: 10px;
	height: 10px;
  }

  .btn-reset {
	animation: pulse 1000ms ease infinite alternate 500ms;
  }

  @keyframes pulse {
	from {
	  opacity: 0;
	}
	to {
	  opacity: 0.8;
	}
  }