body {
  /* position: relative; */
}

footer {
  display: flex;
  /* position: absolute; */
  bottom: 0;
  left: 0;
  right: 0;
  justify-content: center;
  align-items: center;
  height: 3rem;
  background: linear-gradient(268.71deg, #166bf8 -21.28%, black 57%);
}

p {
  color: white;
  font-size: 12px;
}
