.footer {
  display: flex;
  justify-content: flex;
  align-items: center;
  height: 3rem;
  background: linear-gradient(268.71deg, #166bf8 -21.28%, black 57%);
}

p {
  color: white;
  font-size: 12px;
}
