/* Mettre variables css */
@import url("https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap");

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Luckiest+Guy', sans-serif;
  }