

.swiper {
    width: 100%;
    height: 100%;
  }
  
  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background-color: #3A3A3A;
  
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  }
  
  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;

    min-width: 10.8vh;
    min-height: 10.8vh;
    cursor: pointer;
  }

.pageFight {
    background-color: #3A3A3A;
    color: white;
    --fontFight: Roboto Condensed bold 1rem; text-transform: uppercase;
    font-family: var( --fontFight);
}

.introduce {
    padding-top: 1rem;
    margin-bottom: 1rem;
}

.introduce p {
    display: flex;
    justify-content: center;
}

.fighters {
    margin: 2rem;
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    gap: 0.6rem;
}

.container-select-hero {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

#fighter1, #fighter2 {
    height:  15.25rem;
    width: 10rem;
    background-color: white;
    margin-bottom: 1rem;
    border-radius: 10px;
}

.container-fighterImg {
    height:158px;
    background-color: white;
    border-radius: 10px 10px 0px 0px;
    position: relative;
    width: 10rem;
}

#imgFighter1, #imgFighter2, #imgFighter1B, #imgFighter2B { 
    height:158px;
}

#imgFighter1, #imgFighter2 { 
    height:158px;
    border-radius: 10px 10px 0px 0px;
}

#imgFighter1 {
    position: absolute;
    width: 10rem;
    z-index: 10;
}

#imgFighter2 {
    position: absolute;
    width: 10rem;
    z-index: 10;
}

#imgFighter1B {
    position: absolute;
    height: 4rem;
    width: 4rem;
    background-color: transparent;
    z-index: 20;
    top: 40px; left: 50px;
}

#imgFighter2B {
    position: absolute;
    height: 4rem;
    width: 4rem;
    background-color: transparent;
    z-index: 20;
    top: 40px; left: 50px;
}

.midleBlock {
    height: 0.5rem;
    background-color: var( --primary-color);
}

.fighter1Info, .fighter2Info {
    height: 19vh;
    background-color: white;
    color: black;
    border-radius: 0px 0px 10px 10px;
}

.fighter1Info h4, .fighter2Info h4 {
    padding-top: 0.2rem;
    margin-bottom: 0.2rem;
    padding-top: 0.4rem;
    margin-bottom: 0.4rem;
    text-align: center;
}

.fighter1Info h5, .fighter2Info h5 {
    margin-left: 2rem;
}

.heart {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-top: 1.5rem;
}

.pannelButton {
    height: 6rem;
    display: flex;
    justify-content: center;
    margin-top:5rem;
}

.fightButton {
    height: 3.5rem;
    width: 10rem;
    font-family: var( --fontFight);
    margin-bottom: 1rem;
    margin-top: 0.5rem;
    border-radius: 10rem;
    background-color: var( --primary-color);
    color: white;
}

@media screen and (min-width:700px) { 
    #fighter1, #fighter2 {
        height: 15.75rem;
        width: 18rem;
        background-color: white;
    }
    
    .container-fighterImg {
        height:16rem;
        background-color: white;
        width: 18rem;
    }

    #imgFighter1, #imgFighter2, #imgFighter1B, #imgFighter2B {
        height: 16rem;
        width: 18rem;
    }  

    #imgFighter1B {
        position: absolute;
        height: 8rem;
        width: 8rem;
        background-color: transparent;
        z-index: 20;
        top: 55px; left: 85px;
    }

    #imgFighter2B {
        position: absolute;
        height: 8rem;
        width: 8rem;
        background-color: transparent;
        z-index: 20;
        top: 55px; left: 85px;
    }

    .midleBlock {
        height: 0.5rem;
        background-color: var( --primary-color);
    }
    
    .fighter1Info, .fighter2Info {
        height: 11rem;
    }

    .fighter1Info h5, .fighter2Info h5 {
        margin-left: 6rem;
    }
    
    .pannelButton {
        height: 6rem;
        margin-top: 12.5rem;
    }    
}
